{% extends 'base.html' %}

{% block content %}
<h2>{{ details[1] }}</h2>
<img src="{{ details[8] }}">
<p>Synopsis: {{ details[4] }}</p>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Alternative Title</th>
        <th>Information</th>
        <th>Character and Voice Actor</th>
        <th>Staff</th>
        <th>Stats</th>
    </tr>
    <tr>
        <td>{{ details[1] }}</td>
        <td>{{ details[2] }}</td>
        <td>{{ details[3] }}</td>
        <td>{{ details[5] }}</td>
        <td>{{ details[6] }}</td>
        <td>{{ details[7] }}</td>
    </tr>
</table>
<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}